*,
*:before,
*:after {
	box-sizing: border-box;
}
body, input, textarea, select, button {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Arial, sans-serif;
	color: $color-white;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
}
body {
	margin: 0;
	padding: 0;
	background: $color-black;
	font-size: 1em;
	font-size: calc(1em + 1vw);
	padding-top: calc(7vw + 2.5vh + 1em);
}
a {
	color: $color-brand;
	text-decoration: none;
	@include transition(all 120ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	&:hover {
		color: $color-white;
	}
}
input, button {
	@include reset-appearance();
}
.screen-reader-text {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	word-wrap: normal !important; /* many screen reader and browser combinations announce broken words as they would appear visually */
}

#about {
	position: fixed;
	z-index: -1;
	visibility: hidden;
	opacity: 0;

	display: table;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: $color-black;
	@include transition(all 240ms cubic-bezier(0.455, 0.030, 0.515, 0.955));
	.inner {
		display: table-cell;
		height: 100%;
		vertical-align: middle;
		text-align: center;
		padding: 1.25em;
	}
	p {
		max-width: 600px;
		margin: 1em auto;
	}
	.close-about {
		position: absolute;
		top: calc(1.25vh);
		right: calc(2.5vw);
		color: $color-white;
		background: none;
		border: none;
		line-height: 1;
		cursor: pointer;
		font-size: calc(2rem + 2vw);
	}

	.about-open & {
		z-index: 12;
		opacity: 1;
		visibility: visible;
	}
}
