@mixin transition($value...) {
	-webkit-transition: $value;
	-moz-transition: $value;
	transition: $value;
}
@mixin reset-appearance() {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
@mixin transform($value...) {
	-webkit-transform: $value;
	-moz-transform: $value;
	transform: $value;
}
